body {
  font-size: 20px;
  /* overflow: hidden; */
}
ul {
  list-style: none;
}
.header {
  border-image: linear-gradient(
    90deg,
    rgba(0, 145, 255, 1) 0%,
    rgba(181, 57, 245, 1) 30%,
    rgba(255, 0, 0, 1) 67%,
    rgba(32, 235, 255, 1) 100%
  );
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image-slice: 1;
  padding: 10px 0 5px 10px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  top: 0;
  width: 100%;
  left: 0;
}

.half-slide {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 10vw;
}
.header__body {
  display: grid;
  justify-items: end;
  padding-right: 10px;
}
.icon {
  margin-left: 10px;
}
.fa-regular {
  margin-left: 0;
}
.slide {
  padding: 30px 0 30px 0;
  border-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    /* rgb(154, 0, 189) 50%, */ rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-top-width: 3px;
  border-top-style: solid;
  border-image-slice: 1;
}
.half-slide h2 span {
  border-right: 2px solid rgb(154, 0, 189);
  border-left: 2px solid rgb(154, 0, 189);
  padding: 0 15px 0 15px;
}
.date span {
  display: inline-block;
  border-right: 2px solid rgb(154, 0, 189);
  border-left: 2px solid rgb(154, 0, 189);
  padding: 0 15px 0 15px;
}
.date {
  display: flex;
  justify-content: center;
  font-size: 15px;
  line-height: 10px;
  margin-bottom: 30px;
}
.date p {
  text-align: center;
}
.info {
  color: rgb(95, 95, 95);
}
.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 30vw;
  height: 30vw;
  margin: 20px 0 20px 0;
  min-width: 160px;
  min-height: 160px;
}
.link-job {
  color: #4dbeff;
}
.right {
  display: flex;
  justify-content: center;
}
li a:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid #4dbeff;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: -30px;
  top: 4px;
  z-index: -1;
}
li a {
  width: 100%;
  height: 44px;
  font-size: 20px;
  position: relative;
}
.job-title {
  font-size: 30px;
}
.top-right {
  display: flex;
  align-items: center;
  margin-right: 10%;
}
.top-right span {
  height: fit-content;
}
.about-company div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info {
  text-align: center;
}
.half-slide h2 {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.projects {
  display: flex;
  justify-content: center;
  color: rgba(181, 57, 245, 1);
  font-size: 30px;
  margin-bottom: 15px;
}
