::-webkit-scrollbar {
  transform: translateY(-10px);
  width: 24px;
}
body {
  background-color: black;
  font-weight: normal;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

body {
  margin: 0;
}

.main {
  display: flex;
  height: 100vh;
  position: relative;
}

.header {
  height: 100vh;
  width: 80px;
  position: absolute;
  /* background-color: black; */
  color: white;
  z-index: 100;
  overflow: hidden;
  transition: width ease-in-out 700ms;
  border-right-width: 10px;
  border-right-style: solid;

  background: linear-gradient(
    180deg,
    rgb(0, 145, 255) 0%,
    rgba(181, 57, 245, 1) 30%,
    rgb(255, 62, 62) 67%,
    rgb(0, 178, 194) 100%
  );
  border-image: linear-gradient(
    180deg,
    rgb(0, 94, 167) 0%,
    rgb(170, 0, 255) 30%,
    rgba(255, 0, 0, 1) 67%,
    rgb(0, 198, 216) 100%
  );
  border-image-slice: 0;
  box-shadow: 11px 1px 15px 5px #000000;
}

.header__title {
  font-size: 18px;
  font-weight: bold;
  /* padding: 10px; */
  margin-bottom: 24px;
}

.header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.25s ease-out;
}

.expanded-header {
  width: 380px;
}

.social__title {
  overflow-x: hidden;
  width: 0px;
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  display: flex;
  gap: 30px;
}
.social__title {
  position: relative;
  color: white;
}

.social__title::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  padding-left: 50px;
}

.social__title:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header__title {
  white-space: nowrap;
  transition: opacity ease-in-out 500ms;
  opacity: 0;
  font-size: 35px;
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.expanded-header .social__title {
  width: 90%;
}

.expanded-header .header__title {
  opacity: 1;
}

.content {
  position: relative;
  flex-grow: 1;
}

.slide {
  width: 100vw;
  height: 100vh;
  background: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}
.half-slide {
  width: 50vw;
  margin-left: 200px;
  margin-right: -100px;
  /* border-right-width: 3px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1; */
}
.half-slide h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.half-slide h2 span {
  border-right: 2px solid rgb(154, 0, 189);
  border-left: 2px solid rgb(154, 0, 189);
  padding: 0 15px 0 15px;
}

.outer-wrapper {
  width: 103vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* wrapper containing our slides */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 370vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
}

.one {
  background: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    /* rgb(154, 0, 189) 50%, */ rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.social {
  height: 50px;
  font-size: 30px;
}
.content-slide {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  min-height: 730px;
}

.date {
  text-align: center;
  color: white;
  margin: 50px 0 50px 0;
}
.date span {
  display: inline-block;
  padding: 0 20px 0 20px;
  border-left: 2px solid rgb(154, 0, 189);
  border-right: 2px solid rgb(154, 0, 189);
}

container {
  width: 50%;
  height: 90%;
}
.left {
  border-right-width: 10px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(154, 0, 189) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.top-left {
  width: 100%;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(127, 35, 147));
  border-image-slice: 1;
  height: 40%;
  display: flex;
  flex-direction: row;
  color: white;
}
.bottom-left {
  width: 100%;
  height: 60%;
}
.top-right {
  width: 100%;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgb(97, 0, 120), rgb(0, 0, 0));
  border-image-slice: 1;
  height: 30%;
  color: #fff;
  font-size: 30px;
  display: flex;
}
.bottom-right {
  width: 100%;
  height: 70%;
}

.job-title {
  margin: 100px 0 0 200px;
}
.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.about-company:only-child {
  text-align: center;
}
.name-job {
  color: white;
  margin-bottom: 60px;
  font-weight: 600;
}
.link-job {
  font-size: 25px;
  color: #4dbeff;
}
ul {
  margin-left: 35%;
  margin-top: 50px;
  color: white;
  list-style: none;
  display: grid;
}
ul li {
  font-size: 30px;
  display: inline-block;
  padding-bottom: 5px;
}
li a {
  width: 100%;
  padding-left: 25px;
  height: 44px;
  font-size: 20px;
  position: relative;
}
li a:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 15px solid #4dbeff;
  border-bottom: 7px solid transparent;
  position: absolute;
  left: -30px;
  top: 4px;
}
.bottom-right ul li {
  margin-left: -100px;
}
.half-slide ul li {
  font-size: 20px;
}
.soft-skill {
  margin-top: 30px;
}

.emoji {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

.info {
  color: rgb(95, 95, 95);
  border: none;
}

.projects {
  /* display: block; */
  font-size: 70px;
  transform: rotate(-90deg);
  /* width: fit-content;
  height: fit-content; */
  align-self: center;
  margin-right: -80px;
  font-weight: 800;
  background: -webkit-linear-gradient(
    180deg,
    rgb(189, 108, 241) 0%,
    /* rgb(170, 0, 255) 30%, */ rgba(255, 0, 0, 1) 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 80px;
}
