::-webkit-scrollbar {
  transform: translateY(-10px);
  width: 24px;
}
body {
  background-color: black;
  font-family: "DejaVuSansMonoBook";
  font-weight: normal;
}
/* bp 1000 */
@media screen and (max-width: 1200px) {
  .content {
    transform: rotate(90deg) translateX(100vh);
    margin-top: 0 auto;
  }
  .wrapper {
    transform: rotate(90deg) translateX(100vh);
  }
  .main {
    height: auto;
  }
  .header {
    display: flex;
    width: auto;
    border-image: none;
    position: static;
  }

}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}

::-webkit-scrollbar-thumb:hover {
  display: none;
}

body {
  margin: 0;
}

.main {
  display: flex;
  height: 100vh;
  position: relative;
}

.header {
  height: 100vh;
  width: 80px;
  position: absolute;
  background-color: black;
  color: white;
  z-index: 100;
  overflow: hidden;
  transition: width ease-in-out 700ms;
  border-right-width: 10px;
  border-right-style: solid;

  border-image: linear-gradient(
    180deg,
    rgba(0, 145, 255, 1) 0%,
    rgba(181, 57, 245, 1) 30%,
    rgba(255, 0, 0, 1) 67%,
    rgba(32, 235, 255, 1) 100%
  );
  border-image-slice: 1;
  box-shadow: 11px 1px 15px 5px #000000;
}

.header__title {
  font-size: 18px;
  font-weight: bold;
  /* padding: 10px; */
  margin-bottom: 24px;
}

.header__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
}

.expanded-header {
  width: 380px;
}

.social__title {
  overflow-x: hidden;
  width: 0px;
  transition: width ease-in-out 500ms;
  padding-left: 20px;
  text-decoration: none;
  color: #4dbeff;
  font-weight: 300;
}
.icon {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.icon:hover {
  color: #4dbeff;
}

.header__title {
  white-space: nowrap;
  transition: opacity ease-in-out 500ms;
  opacity: 0;
  font-size: 35px;
  margin: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.expanded-header .social__title {
  width: 90%;
}

.expanded-header .header__title {
  opacity: 1;
}

.content {
  position: relative;
  flex-grow: 1;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.half-slide {
  width: 50vw;
  margin-left: 200px;
  border-right-width: 3px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}
.half-slide h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.half-slide h2 span {
  border-right: 2px solid rgb(154, 0, 189);
  border-left: 2px solid rgb(154, 0, 189);
  padding: 0 15px 0 15px;
}

.outer-wrapper {
  width: 103vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "DejaVuSansMonoBook";
}

/* wrapper containing our slides */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 250vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  overflow-y: hidden;
}

.one {
  background: #000000;
  border-right-width: 3px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    /* rgb(154, 0, 189) 50%, */ rgb(255, 255, 255) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.social {
  height: 50px;
  font-size: 30px;
}
.content-slide {
  width: 80vw;
  height: 80vh;
  display: flex;
  margin: 0 auto;
  min-height: 730px;
}

.date {
  text-align: center;
  color: white;
  margin: 50px 0 50px 0;
}
.date span {
  padding: 0 20px 0 20px;
  border-left: 2px solid rgb(154, 0, 189);
  border-right: 2px solid rgb(154, 0, 189);
}

container {
  width: 50%;
  height: 90%;
}
.left {
  border-right-width: 10px;
  border-right-style: solid;
  border-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(154, 0, 189) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  border-image-slice: 1;
}

.top-left {
  width: 100%;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgb(0, 0, 0), rgb(127, 35, 147));
  border-image-slice: 1;
  height: 40%;
  display: flex;
  flex-direction: row;
  color: white;
}
.bottom-left {
  width: 100%;
  height: 60%;
}
.top-right {
  width: 100%;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgb(97, 0, 120), rgb(0, 0, 0));
  border-image-slice: 1;
  height: 30%;
  color: #fff;
  font-size: 30px;
  display: flex;
}
.bottom-right {
  width: 100%;
  height: 70%;
}

.job-title {
  margin: 100px 0 0 50px;
}
.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}
.logo {
  width: 180px;
  height: 180px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.about-company:only-child {
  text-align: center;
}
.name-job {
  color: white;
  margin-bottom: 60px;
  font-weight: 600;
}
.link-job {
  font-size: 25px;
  color: #4dbeff;
}
ul {
  margin-left: 35%;
  margin-top: 50px;
  color: white;
  list-style: none;
  display: grid;
}
ul li {
  font-size: 30px;
  display: inline-block;
  padding-bottom: 5px;
}
li a {
  width: 100%;
  padding-left: 25px;
  height: 44px;
  font-size: 20px;
  position: relative;
}
li a:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 15px solid #4dbeff;
  border-bottom: 7px solid transparent;
  /* background:#4dbeff; */
  position: absolute;
  left: -30px;
  top: 4px;
}
.bottom-right ul li {
  margin-left: -50px;
}
.half-slide ul li {
  font-size: 20px;
}
.soft-skill {
  margin-top: 30px;
}
